@charset "ISO-8859-1";


.text-right{
	text-align:right;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #DC3545;
}

.button2:hover {
  background-color: #DC3545;
  color: white;
}


.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #0000a0;
}

.button3:hover {
  background-color: #00376f;
  color: white;
}